<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828666387153-8ro6trtntc9is58uqh5grbj61hr2jc3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828666387153-8ro6trtntc9is58uqh5grbj61hr2jc3p</string>
	<key>API_KEY</key>
	<string>AIzaSyCzlEZ_PD1L-UeuHNGR2AlzlUIVxeioxV4</string>
	<key>GCM_SENDER_ID</key>
	<string>828666387153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-x-clone-7af0a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-x-clone-7af0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828666387153:ios:21d4ecc459cbc7009d03f0</string>
</dict>
</plist>